body {
    background-color: rgb(212, 212, 212);
}
.navbar {
    height: 70px;
    /* max-width: 800px; */
}
.bg-img {
    color: red;
    background-image: url("../public/img/gym.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
.services {
    height: 400px;
    max-width: 800px;
    margin: 20px, 0px, 20px, 0px;
}
.card {
    border: 1px solid grey;
    margin: 10px;
}
.map {
    height: 300px;
    width: 100%;
}