body {
    background-color: rgb(212, 212, 212);
}
.content {
    position: relative;
    min-height: 100vh;
}

/* navigation from main layout */
.navbar {
    height: 70px;
}
#navbarNavAltMarkup {
    max-width: 800px;
}
/* bg picture for main page */
#bg-img {
    background-image: url("../public/img/gym.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
/* container for service elements */
.container {
    height: 400px;
    text-align: center;
    max-width: 800px;
    margin: 20px, 0px, 20px, 0px;
}
/* service cards */
.card {
    border: 1px solid grey;
    margin: 10px;
    width: 25%;
}

#reviews {
    background-image: url("https://datahub.lt/category_descriptions/POWERSPORT_CATEGORY/gym_surface/description/6a721c40d3d56e08f1d1b98f820538aa.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#formAddFeedback {
    /* display: none; */
}


@media only screen and (max-width: 400px) {
    #bg-img {
        height: 150px;
    }
    .container {
        flex-direction: column;
        height: 800px;
    }
    .card {
        font-size: 16px;
        width: 65%;
        height: 220px;
    }

}